In [9]:
import pandas as pd
data1=pd.read_excel("sensitive_dicts.xlsx")
data2=pd.read_excel("train_multi.xlsx")
data3=pd.read_excel("dev_multi.xlsx")

In [10]:
data1.head()

   Unnamed: 0    0     1
0           0  爱女人   SEX
1           1   爱液   SEX
2           2  按摩棒   SEX
3           3  拔出来   SEX
4           4   爆草  FUCK

In [13]:
data2.head(10)

   Unnamed: 0                                            content  labels
0       61378                                             _again  NORMAL
1       46709  _jack_the_rapper亻尔要真这么较真那我也说寄狗屎给别人不是也算违法舌忝屁股可以...    FUCK
2       20731  _jack_the_rapper你要真这么较真那我也说寄狗屎给别人不是也算违法舔pi股可以别...    FUCK
3       16367  _jack_the_rapper你要真这么较真那我也说寄狗屎给别人不是也算违法舔屁888股可...    FUCK
4       26626  _jack_the_rapper你要真这么较真那我也说寄狗屎给别人不是也算违法舔屁股可以别那...    FUCK
5        3931  _jack_the_rapper你要真这么较真那我也说寄狗屎给别人不是也算违法舔辟谷可以别那...    FUCK
6       12462                               _不得不很惆怅的说县医院这边的路快完工了  NORMAL
7       64432                                     _好强的名字老大你学的是啥啊  NORMAL
8       27435                                             _没饭要等熟  NORMAL
9       70280                                             _你写诗我晕  NORMAL

In [12]:
data3.head()

   Unnamed: 0                                            content  labels
0       73593                                              在忙明天说  NORMAL
1       73595                                         明天下午有空没去打球  NORMAL
2       73596                                                操你吗    FUCK
3       73597  你他妈才生活能力弱写这种不负责任文章的人大脑被门挤了吗我们独生子女因为家里就一个从小就肩负着...    FUCK
4       73598                                             电脑收到了么  NORMAL

In [21]:
knowledge_base=pd.DataFrame(data1[[0,1]].values.tolist()+data2[["content","labels"]].values.tolist()+data3[["content","labels"]].values.tolist()).sample(frac=1.0)

In [22]:
knowledge_base.shape

(64456, 2)

In [24]:
knowledge_base.columns=["content","label"]
knowledge_base.to_excel("knowledge_base.xlsx")